@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url(Photo.jpg);
    background-size: cover;
    display: flex;
}

.header_left {
    width: 65%;
    height: 100%;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 5vw;
    box-sizing: border-box;
    text-align: right;
}

.header_left p {
    font-size: 0.5em;
}

.bio {
    width: 60%;
}


.header_right {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
}

.header_btn {
    cursor: pointer;
    font-size: 2em;
}

.header_btn:hover {
    transform: scale(1.05);
}

main {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 6vw;
    box-sizing: border-box;
    min-height: 50vh;
}

section h1 {
    font-size: 4em;
}

header h1 {
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: currentColor;
        left: 0;
        bottom: -6px;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s ease-in;
    }

    &:hover::after {
        transform: scaleX(1);
    }

    &:mouseout::after {
        transform: scaleX(0);
    }

}

main h1 {
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: currentColor;
        left: 0;
        bottom: -6px;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.33s ease-in;
    }

    &:hover::after {
        transform: scaleX(1);
    }

    &:mouseout::after {
        transform: scaleX(0);
    }
}

.section_row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_item {
    height: 10vw;
    margin: 0 4em 4em 4em;
}

.section_item img {
    height: 100%;
    cursor: pointer;
}
.section_item:hover {
    transform: scale(1.05);
}


.projects {
    color: white;
    background: black;
}

.github:hover {
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    width: 100%;
    height: 100px;
    position: relative;
    background-image: url(footer_bg.png);
    background-size: cover;
    background-position: center;
}

.slider-section {
    background-color: black;
    color: white;
    padding-bottom: 40px;
}

.slider-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.frame {
    width: 768px;
    height: 432px;
    overflow: hidden;
    border-radius: 8px;
}

.slider {
    height: 100%;
    width: 100%;
    display: flex;
    transition: 0.75s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
}

.arrow {
    height: 64px;
    width: 64px;
    cursor: pointer;

    &.arrow-left{
        transform: rotate(180deg);
    }
}

.slider-footer {
    display: flex;
    flex-flow: row nowrap;
    gap: 7px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
    cursor: pointer;

    &.active {
        background: white;
    }
}

.footer_content {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    -webkit-backdrop-filter: brightness(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}